// import components
@import "./components/Navbar.scss";
@import "./components/Footer.scss";
@import "./components/SideNav.scss";

// import pages
@import "./pages/User/Profile.scss";
@import "./pages/User/UserHome.scss";
@import "./pages/Blog.scss";
@import "./pages/Home.scss";
@import "./pages/Login.scss";

// Main Style Imports
html {
  max-width: 100%;
}
body {
  font-family: acumin-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  background-color: #eff2f5;
}
