.home {
  margin: 2em;
  .section {
    padding: 1em;
    .title {
      font-size: 2.5em;
    }
    .heading {
      font-size: 2em;
    }
    p {
      padding: 0 2em 0 0;
    }
  }
}
@media (max-width: 500px) {
  .home {
    margin: 12em 5em 0;
  }
}
