.signIn {
  margin: 2em;

  .loginInfoCard {
    min-height: 500px;
    max-height: 500px;
    margin: 2em;
    text-align: left;
    background-image: url("../../../images/login-fig-two.jpeg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 400px;
    .ant-card-head-title {
      font-size: 1.3em;
    }
  }
  .loginCard {
    min-height: 500px;
    max-height: 500px;
    margin: 2em;
    text-align: center;
    .ant-card-head-title {
      font-size: 1.3em;
    }
  }
}
