.signIn {
  margin: 5em 10em 0;

  .loginInfoCard {
    margin: 5em;
    width: 60em;
    text-align: left;
  }
  .loginCard {
    width: 25em;
    margin: 5em;
    text-align: center;
    .anticon-info-circle {
      margin-left: 0.2em;
    }
  }
}
@media (max-width: 500px) {
  .signIn {
    margin: 10em 2em 1em;
    .loginInfoCard {
      text-align: center;
      margin: 0;
      width: 25em;
    }
    .loginCard {
      margin: 0;
    }
  }
}
