// import components
@import "./components/Navbar.scss";
@import "./components/Footer.scss";
@import "./components/Profile.scss";

// import pages
@import "./pages/HomePage.scss";
@import "./pages/Blog.scss";

// Main Style Imports
html {
  max-width: 100%;
}
body {
  font-family: acumin-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  background-color: #466680;
}
