nav {
  .logo {
    width: 50%;
  }
  .navSearch {
    display: flex;
    justify-content: center;
    margin: 2em auto;
  }
  .navLinks {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 1.2em;
    letter-spacing: 1px;
  }
}
@media (max-width: 500px) {
  nav {
    padding: 0;
    margin: 2em auto;

    .navLeft {
      width: 50%;
      float: left;

      .navLogo {
        img.icon {
          width: 2rem;
          margin: 1em 0.5em 0 1em;
          float: left;
        }
        h2 {
          font-size: 1.5rem;
          margin: 0.5em 0;
        }
      }
    }

    .navRight {
      width: 50%;
      margin: 1em auto;
      float: right;
      text-align: center;
      .searchBar {
        .ant-select.ant-select-auto-complete.ant-select-single.ant-select-show-search {
          width: 50%;
        }
      }

      .navLinks {
        font-size: 1em;
        margin: 1em 2em 2em 0;
        svg {
          margin: 0 0.3em;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  nav {
    margin: 1em auto;

    .navLeft {
      width: 50%;
      float: left;

      .navLogo {
        h2 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
